<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <!--<script src="main.js"></script>-->
</head>
<body>
    <div class="header">
        <h1>StackOverflow-lite</h1>
    </div>
    <div class="nav-bar">
        <a href="#" style="color: #df0909;">Log In</a>
        <a href="Signup.html">Sign up</a>
    </div>
    <form class="login">
        <div class="Email">
            <label for="emailAddress">Email Address:</label>
            <input type="email" name="email_address" id="emailAddress" placeholder="Email address" required/>
        </div>
        <div class="Password">
            <label for="pwd">Password:</label>
            <input type="password" name="user_password" id="pwd" placeholder="Password" required/>
        </div>
        <div class="login_button">
            <button type="button" name="Login_button">LOG IN</button>
        </div>
    </form>
</body>
</html>