<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Post your answer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/post_answer.css"/>
    <script src="main.js"></script>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">StackOverflow-lite</a>
        <div class="search_box">
            <form>
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">submit</button>
            </form>
        </div>
        <div class="header-right">
            <a href="Front.html">Home</a>
            <a href="LogIn.html">Sign Out</a>
        </div>
    </div>
    <div class="nav-bar_1">
        <a href="Front.html">Recent</a>
        <a href="Front.html">Popular</a>
        <a href="Question.html">Ask a Question</a>
    </div>
    <div class="qn">
        <p><strong>How do you unstage all commits using the terminal?</strong></p>
        <p>I accidentally added a lot of temporary files using git add -A. I managed to unstage the files using the following commands and managed to remove the dirty index.</p>
        <p>git ls-files -z | xargs -0 rm -f</p>
        <p>diff --name-only --diff-filter=D -z | xargs -0 git rm --cached</p> 
        <p>The above commands are listed in the git help rm. But sadly, my files were also deleted on execution, even though I had given cache option. How can I clear the index without losing the content? Also it would be helpful if someone can explain the way this pipe operation works.</p> 
    </div>
    <div class="post_answer">
        <h2>Post an answer:</h2>
        <textarea name="post_details" id="body_post" placeholder="Answer" rows="10" cols="8"></textarea>
        <button type="button" name="submit_button">submit</button>
    </div>
</body>
</html>