<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ask a Question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/main.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/question.css"/>
    <script src="main.js"></script>
</head>
<body>
    <div class="header">
        <a href="Front.html" class="logo">StackOverflow-lite</a>
        <div class="header-right">
            <a href="Userprofile.html">User Profile</a>
            <a href="LogIn.html">Sign Out</a>
        </div>
    </div>
    <form class="Question-title">
        <div class="Qn-header">
            <h2>Ask a Question</h2>
        </div>
        <div class="qn_title">
            <label for="title_qn">Title</label>
            <input name="title_header" id="title_qn" placeholder="Title of the Question" required/>
        </div>
        <div class="Question-body">
            <label for="body_qn">Body</label>
            <textarea name="question_details" id="body_qn" placeholder="Details" rows="10" cols="100" required></textarea>
        </div>
        <div class="submit_button">
            <button type="button" name="submit_button">submit</button>
        </div>
    </form>
</body>
</html>