<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/signup.css"/>
    <script src="main.js"></script>
</head>
<body>
    <div class="header">
        <a href="#" class="logo">StackOverflow-lite</a>
        <div class="header-right">
            <a href="LogIn.html">Sign in instead</a>
        </div>
    </div>
    <form class="Signup">
        <div class="Username">
            <label for="username">User name:</label>
            <input type="text" name="user_name" id="username" placeholder="Display name" required/>
        </div>
        <div class="Email">
            <label for="emailAddress">Email Address:</label>
            <input type="email" name="email_address" id="emailAddress" placeholder="Email address" required/>
        </div>
        <div class="Password">
            <label for="pwd">Password:</label>
            <input type="password" name="user_password" id="pwd" placeholder="Password" required/>
        </div>
        <div class="C_Password">
            <label for="c_pwd">Confirm Password:</label>
            <input type="password" name="confirm_password" id="c_pwd" placeholder="confirm password" required/>
        </div>
        <div class="submit_button">
            <button type="button" name="submit_button">Submit</button>
        </div>
    </form>
</body>
</html>