.Qn-header {
    color: #333300;
}

.Question-title {
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 200px;
    padding-left: 30px;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    color: #333300
}

#title_qn {
    display: block;
    margin-bottom: 10px;
    background-color: white;
	color: #333300;
}

input {
    display: block;
    margin-bottom: 10px;
    background-color: #FFFFFF;
	color: #333300;
    border: 1px solid #dddddd;
    padding: 8px 18px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 16px;
}

textarea {
    display: block;
    margin-bottom: 10px;
    background-color: #FFFFFF;
	color: #333300;
    border: 1px solid #dddddd;
    padding: 8px 18px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 16px;
    max-height: 50%;
}

input:focus, textarea:focus {
	border-color: #333300;

}

.submit_button button {
    cursor: pointer;
    font-size: 16px;
    color: white;
    border-style: solid;
    border-radius: 4px;
    font-weight: bold;
    border-color:  #111111;
    background-color: #111111;
    padding: 12px 90px;
    text-align: center;
}

.submit_button button:hover {
    border-color:  #ca1414;
    background-color: #ca1414;
}