* {
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
}

.header h1 {
    font-size: 30px;
    color: #333300;
}

.nav-bar{
    background-color: whitesmoke;
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 4px;
}

.nav-bar a {
    text-decoration: none;
    color:  #333300;
    font-size: 20px;
    padding: 8px;
    text-align: center
}

.nav-bar a:hover {
    background-color: #a9d4d1;
    flex-grow: 0.3;
}

.login, .Signup {
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.Qn-header {
    color: #333300;
}

.Question-title {
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 200px;
    padding-left: 30px;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    color: #333300
}

#title_qn {
    display: block;
    margin-bottom: 10px;
    background-color: white;
	color: #333300;
    /* border: 1px solid #dddddd;
    padding: 8px 18px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 16px;
    max-width: 100%; */
}

input {
    display: block;
    margin-bottom: 10px;
    background-color: white;
	color: #333300;
    border: 1px solid #dddddd;
    padding: 8px 18px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 16px;
}

textarea {
    display: block;
    margin-bottom: 10px;
    background-color: white;
	color: #333300;
    border: 1px solid #dddddd;
    padding: 8px 18px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 16px;
    max-height: 50%;
}

input:focus, textarea:focus {
	border-color: #333300;
	
}

.login_button button, .submit_button button {
    cursor: pointer;
    font-size: 16px;
    color: white;
    border-style: solid;
    border-radius: 4px;
    font-weight: bold;
    border-color:  #111111;
    background-color: #111111;
    padding: 12px 90px;
    text-align: center;
}

.login_button button:hover, .submit_button button:hover {
    border-color:  #ca1414;
    background-color: #ca1414;
}